<div class="my-8">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form_input" %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form_input" %>
    </div>

    <div class="field">
      <%= form.label :tag_list, "Tag list (separeted by commas)" %>
      <%= form.text_field :tag_list, value: form.object.tag_list.join(", "), class: "form_input" %>
    </div>

    <div class="field">

      <% if @task.isDone == true %>
          <div class="flex justify-center items-center">
            <h1 class="text-gray-500 mr-2">This task is done </h1> <i class="text-green-400 fas fa-check"></i>
          </div>
          <div class="flex justify-center items-center">
            <%= form.label :isDone, "Keep it as done?", class:"mr-2" %>
            <%= form.check_box :isDone %>
          </div>
        <% elsif @task.isDone == false %>
          <div class="flex justify-center items-center">
            <h1 class="text-gray-500 mr-2">This task is not done yet</h1> <h1 class="text-red-400 fas fa-times"></h1>
          </div>
          <div class="flex justify-center items-center">
            <%= form.label :isDone, "Set as done?", class:"mr-2" %>
            <%= form.check_box :isDone %>
          </div>
        <% else %>
          <div class="flex justify-center items-center">
            <%= form.label :isDone, "Set as done?", class:"mr-2" %>
            <%= form.check_box :isDone %>
          </div>
        <% end %>
      <%# <%= form.label :isDone, "Set as done?" %>
      <%# <%= form.check_box :isDone > %>
    </div>

    <div class="actions">
      <%= form.submit class: "common_btn" %>
    </div>
  <% end %>
</div>
