<div class="my-8">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form_input" %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form_input" %>
    </div>

    <div class="field">
      <%= form.label :tag_list, "Tag list (separeted by commas)" %>
      <%= form.text_field :tag_list, class: "form_input" %>
    </div>

    <div class="field">
      <%= form.label :isDone, "Set as done?" %>
      <%= form.check_box :isDone %>
    </div>

    <div class="actions">
      <%= form.submit "Create Task", class: "common_btn" %>
    </div>
  <% end %>
</div>
