<div class="max-w-6xl mx-auto">

  <h1 class="text-4xl text-opacity-25"> <%= current_user.first_name %>'s Tasks</h1>

  <div class="my-8">
    <p id="notice"><%= notice %></p>
    <div class="div_add_task">
      <%= link_to 'New Task', new_task_path, class: "add_task_btn" %>
    </div>

    <div class="tasks_container">

      <div class="tasks_table">

        <div class="task_title">
          <h1 class=" text-xl text-yellow-500 text-opacity-60">Tasks To Do</h1>
        </div>

        <div class="max-w-full">
          <table class="min-w-full">
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @undone_tasks.each do |task| %>
                <div>
                  <tr class="shadow-lg rounded-md w-80">

                    <td>
                      <div class="block px-4 py-1.5">
                        <%= link_to task do %>
                          <div class="task_table_title">
                            <%= task.title %>
                          </div>
                        <% end %>
                        <div class="task_table_tag">
                            <%= task.tag_list %>
                        </div>
                      </div>
                    </td>

                    <td><%= link_to '', setAsDone_task_path(task), class: "btn-done fas fa-check" %></td>
                    <td><%= link_to '', edit_task_path(task), class: "far fa-edit" %></td>
                    <td><%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt mr-4" %></td>
                  </tr>
                </div>
              <% end %>
            </tbody>
          </table>

        </div>

      </div>



      <div class="tasks_table">

        <div class="task_title">
          <h1 class=" text-xl text-yellow-500 text-opacity-60">Done Tasks</h1>
        </div>

        <div class="max-w-full">
          <table class="min-w-full">
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @done_tasks.each do |task| %>
                <div>
                  <tr class="shadow-lg rounded-md">

                    <td>
                      <div class="block px-4 py-1.5">
                        <%= link_to task do %>
                          <div class="task_table_title">
                            <%= task.title %>
                          </div>
                        <% end %>
                        <div class="task_table_tag">
                            <%= task.tag_list %>
                        </div>
                      </div>
                    </td>
                    
                    <td><%= link_to '', setAsNotDone_task_path(task), class: "btn-undone fas fa-times" %></td>
                    <td><%= link_to '', edit_task_path(task), class: "far fa-edit" %></td>
                    <td><%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt mr-4" %></td>
                  </tr>
                </div>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>